.container {
	padding: 0 20px;
}
.cards {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 20px;
}
.card {
	padding: 10px 15px;
	border-radius: 15px;
	background: var(--shade5);
}
.card .card__title {
	font-size: 24px;
}
.card.activity {
	padding: 15px 20px;
	display: flex;
	gap: 15px;
	justify-content: space-between;
	border: 1px solid var(--shade2);
}
.card__desc {
}
.card h1 {
	text-align: right;
}
.card h1.card__amount {
	margin-top: -5px;
}
.card--positive {
	background: var(--accent);
}
.card--negative {
	background: var(--danger);
}
.card--nutral {
	background: var(--normal);
}
.activity.card--positive_line {
	border: 1px solid var(--accent);
}
.activity.card--negative_line {
	border: 1px solid var(--danger);
}
.activity.card--nutral_line {
	border: 1px solid var(--normal);
}
.activity.card--positive_line h1 {
	color: var(--accent);
}
.activity.card--negative_line h1 {
	color: var(--danger);
}
.activity.card--nutral_line h1 {
	color: var(--normal);
}

.section {
	padding-bottom: 20px;
}
.section__title {
	padding-bottom: 20px;
	font-size: 16px;
}

.window_pane {
	width: 100%;
	background: var(--shade5);
	border-radius: 20px;
	padding-bottom: 10px;
}
.window_pane .heading {
	display: flex;
	user-select: none;
	justify-content: space-between;
	border-bottom: 1px solid var(--shade3);
}
.window_pane .heading h3 {
	/* padding: 15px 30px; */
	padding: 15px;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
}
.window_pane .heading h3.inactive {
	font-size: 18px;
	color: var(--shade1);
	transition: 300ms;
}
.window_pane .heading h3.inactive:hover {
	cursor: pointer;
	color: var(--accent);
}
.window_pane .heading .left {
	flex: auto;
}
.window_pane .heading .right {
	border-left: 1px solid var(--shade3);
}
.window_pane .content {
	padding: 0 10px;
}
.window_pane .content .title {
	padding: 10px 20px;
	font-weight: 400;
	font-size: 12px;
	color: var(--shade1);
}

.formSection {
	margin: 15px 0;
	border-top: 1px solid var(--shade3);
}
.formGroup {
	display: flex;
	gap: 10px;
}
.formGroup.vertical {
	margin-top: 10px;
	flex-direction: column;
}
.formGroup .formControl {
	padding-top: 5px;
}
.formGroup .mini_tags {
	display: flex;
	gap: 5px;
	flex-direction: row;
	margin-top: 10px;
}
.formGroup .mini_tag {
	overflow: hidden;
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 0.75em;
	padding: 2px 5px;
	border-radius: 20px;
	color: var(--shade0);
	background: var(--shade2);
}
.formGroup .mini_tags button.mini_cross {
	display: flex;
	align-items: center;
	font-size: 1.85em;
	padding: 0;
	margin: -5px -3px -5px 0;
	border-radius: 10px;
	height: 100%;
	color: var(--shade0);
	background-color: var(--shade2);
}
.formGroup .mini_tags button.mini_cross:hover {
	background: var(--shade1);
}
.display_image {
	display: flex;
	justify-content: space-between;
	background: var(--shade5);
	border: 1px solid var(--shade3);
	border-radius: 3px;
}
.display_image button {
	display: flex;
	align-items: center;
	margin: 5px;
	font-size: 1.25em;
	border-radius: 3px;
	border: none;
	background: var(--shade1);
}
.display_image .image_box {
	display: flex;
	gap: 10px;
	flex-direction: row;
}
.display_image .image_box .image {
	width: 2.75em;
	height: 2.75em;
	background-color: var(--shade4);
}
.display_image .text_group {
	display: flex;
	flex-direction: column;
}
.display_image .text_group .subTitle {
	font-size: 12px;
	color: var(--shade1);
}
.formControl .inputGroup {
	display: flex;
}
.formControl .inputGroup button {
	flex: 1;
	background-color: var(--shade1);
}
.formControl .inputGroup button:first-child,
.formControl .inputGroup input:first-child {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.formControl .inputGroup button:last-child,
.formControl .inputGroup input:last-child {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.formControl {
	padding-top: 10px;
}
.formControl p.error_msg {
	font-size: 0.85em;
	text-align: center;
	color: var(--danger);
	border-radius: 10px;
	border: 1px solid var(--danger);
	background-color: rgba(var(--accent), 0.5);
}
.formControl label {
	color: var(--shade0);
	display: block;
	margin-left: 5px;
	margin-bottom: 10px;
}
.formControl label span {
	color: var(--accent);
}
.formControl input,
.formControl button,
.formControl textarea {
	width: 100%;
	padding: 10px 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	border-radius: 10px;
}
.formControl input,
.formControl textarea {
	border: 1px solid var(--shade1);
	color: var(--shade0);
	background: var(--shade4);
}
.formControl textarea {
	max-width: 100%;
	min-width: 100%;
	max-height: 125px;
	min-height: 50px;
}
.formControl button.btn_primary {
	cursor: pointer;
	margin-top: 10px;
	user-select: none;
	font-weight: 500;
	border: 1px solid var(--shade4);
	color: var(--shade5);
	background: var(--accent);
}
.formControl button.mini_button {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 0.75em;
	padding: 2px 10px;
	border-radius: 20px;
	color: var(--shade5);
	background: var(--shade1);
}
.formControl button.mini_button.active {
	background: var(--shade0);
}
.display_image button:hover,
.formControl button:hover {
	filter: brightness(1.125);
}
.display_image button:active,
.formControl button:active {
	filter: brightness(0.925);
}
.formControl button.disabled {
	cursor: not-allowed;
	border: none;
	background: var(--shade2);
	color: var(--shade3);
}
.formControl button.disabled:hover,
.formControl button.disabled:active {
	filter: none;
}
.formControl ul {
	margin: 0;
	margin-top: 5px;
	padding-left: 30px;
	font-weight: 400;
	font-size: 12px;
	color: var(--shade1);
}
.formControl.okay input {
	border-color: var(--normal);
}
.formControl.okay ul {
	color: var(--normal);
}
.formControl.error input {
	border-color: var(--danger);
}
.formControl.error ul,
.formControl.error ul li[role='alert'] {
	color: var(--danger);
}
.formControl.error ul li[role='info'] {
	color: var(--normal);
}

.notFound {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.notFound .info svg {
	width: 10vh;
	height: 10vh;
}
.start_page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}
.start_page .logoSection {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.start_page .logoSection .centerDiv svg {
	fill: var(--accent);
	width: 150px;
	height: 68px;
}
.start_page .logoSection .centerDiv h1 {
	text-transform: uppercase;
	color: var(--accent);
	line-height: 1em;
	font-size: 37px;
}
.start_page .logoSection .centerDiv p {
	margin-top: 30px;
	font-weight: 300;
	font-size: 13px;
	line-height: 125%;
}
.start_page .descSection {
	display: flex;
	flex-direction: column;
	height: 380px;
	margin: 20px;
	margin-top: 0;
	padding: 10px;
	background: var(--shade5);
	border-radius: 20px;
}
.start_page .descSection h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 100.5%;
}
.start_page .descSection p {
	margin: 20px 0 50px 0;
}
.start_page .descSection .slideshow .controllers {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.start_page .descSection .slideshow .controllers span {
	width: 10px;
	height: 10px;
	border: 1px solid var(--accent);
	border-radius: 5px;
}
.start_page .descSection .slideshow .controllers span:nth-child(2) {
	background: var(--accent);
}
