.container {
	padding: 0 20px;
}
.cards {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 20px;
}
.card {
	padding: 10px 15px;
	border-radius: 15px;
}
.card .card__title {
	font-size: 24px;
}
.card.activity {
	padding: 15px 20px;
	display: flex;
	gap: 15px;
	justify-content: space-between;
}
.card__desc {
}
.card h1 {
	text-align: right;
}
.card h1.card__amount {
	margin-top: -5px;
}
.card--positive {
	background: var(--accent);
}
.card--negative {
	background: #eda5a5;
}
.card--nutral {
	background: #6fb1ff;
}
.card--positive_line {
	border: 1px solid var(--accent);
}
.card--negative_line {
	border: 1px solid #eda5a5;
}
.card--nutral_line {
	border: 1px solid #6fb1ff;
}
.activity.card--positive_line h1 {
	color: var(--accent);
}
.activity.card--negative_line h1 {
	color: #eda5a5;
}
.activity.card--nutral_line h1 {
	color: #6fb1ff;
}

.section {
	padding-bottom: 20px;
}
.section__title {
	padding-bottom: 20px;
	font-size: 16px;
}

.joinUs {
	width: 100%;
	background: var(--shade5);
	border-radius: 20px;
}
.joinUs .heading {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--shade3);
}
.joinUs .heading h3 {
	padding: 15px 30px;
	font-weight: 600;
	font-size: 20px;
}
.joinUs .heading h3.inactive {
	color: var(--shade1);
}
.joinUs .heading .left,
.joinUs .heading .right {
	width: 50%;
}
.joinUs .heading .right {
	border-left: 1px solid var(--shade3);
}
.joinUs .content {
	padding: 0 10px;
}
.joinUs .content .title {
	padding: 10px 20px;
	font-weight: 400;
	font-size: 12px;
	color: var(--shade1);
}

.formControl {
	padding: 10px 0;
}
.formControl label {
	display: block;
	margin-left: 5px;
	margin-bottom: 10px;
}
.formControl input {
	width: 100%;
	padding: 10px 20px;

	background: #2d2e32;
	border: 1px solid #919199;
	border-radius: 10px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #f2f2f2;
}
.formControl button {
	cursor: pointer;
	user-select: none;

	width: 100%;
	padding: 10px 20px;

	background: #64f4ac;
	border: 1px solid #919199;
	border-radius: 10px;
	font-family: 'Poppins';

	font-weight: 500;
	font-size: 16px;
	color: #25262a;
}
.formControl button:hover {
	filter: brightness(1.125);
}
.formControl button:active {
	filter: brightness(0.925);
}
.formControl button.disabled {
	cursor: not-allowed;
	border: none;
	background: var(--shade2);
	color: var(--shade3);
}
.formControl button.disabled:hover,
.formControl button.disabled:active {
	filter: none;
}
.formControl ul {
	margin: 0;
	margin-top: 5px;
	padding-left: 30px;
	font-weight: 400;
	font-size: 12px;
	color: #919199;
}
.formControl.okay input {
	border-color: var(--accent);
}
.formControl.okay ul {
	color: var(--accent);
}
.formControl.error input {
	border-color: #eda5a5;
}
.formControl.error ul {
	color: #eda5a5;
}

.notFound {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.notFound .info svg {
	width: 10vh;
	height: 10vh;
}
